In [1]:
import sys; sys.path.append('../')
import pandas as pd

from clean.ipm_new_orleans_pd_use_of_force import clean
from lib.explore import show_unique, show_columns_with_differences

In [2]:
df = clean()
df

,uof_tracking_number,report_year,occur_year,occur_month,officer_primary_key,force_description,force_type,force_level,effective_uof,accidental_discharge,...,officer_employment_status,officer_department,officer_division,officer_sub_division_a,officer_sub_division_b,occur_day,occur_time,data_production_year,agency,uof_uid
0,FTN2019-0054,2019,2019,2,1455,L2-Takedown (w/injury),Takedown (w/injury),L2,yes,,...,active,FOB - Field Operations Bureau,NaN,NaN,NaN,12,12:37,2019,New Orleans PD,46c1df5007bfc7f0fee1ac661d3da269
1,FTN2019-0054,2019,2019,2,6080,L2-Takedown (w/injury),Takedown (w/injury),L2,yes,,...,active,FOB - Field Operations Bureau,Third District,B Platoon,NaN,12,12:37,2019,New Orleans PD,7391df4901d01591381010bde79b124a
2,FTN2019-0046,2019,2019,2,6150,L1-Takedown (no injury),Takedown (no injury),L1,yes,,...,active,FOB - Field Operations Bureau,NaN,NaN,NaN,6,12:59,2019,New Orleans PD,9af90757eff1354c6aefccdd07d2ad85
3,FTN2019-0046,2019,2019,2,6127,L1-Takedown (no injury),Takedown (no injury),L1,yes,,...,active,FOB - Field Operations Bureau,Third District,C Platoon,NaN,6,12:59,2019,New Orleans PD,ac58b58e3cf2e70ae530da93ec6c1c1e
4,FTN2019-0047,2019,2019,2,731,L3-Baton/PR-24 (Strike),Baton/PR-24 (Strike),L3,no,,...,active,FOB - Field Operations Bureau,Eighth District,A Platoon,NaN,6,12:52,2019,New Orleans PD,e3e15693cf8313d434cb1f8793e62a6d
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4907,FTN2016-0549,2016,2015,11,5904,L1-Force (Escort Tech),Hands / Escort tech,L1,yes,,...,active,FOB - Field Operations Bureau,First District,1st Platoon,NaN,5,17:50,2019,New Orleans PD,25a42707e78221a746308e4a721ad9f8
4908,FTN2016-0549,2016,2015,11,5905,L1-Force (Escort Tech),Hands / Escort tech,L1,yes,,...,active,FOB - Field Operations Bureau,First District,1st Platoon,NaN,5,17:50,2019,New Orleans PD,5cc8aba00fec3871535c425b8fe4756d
4909,FTN2016-0644,2016,2012,12,5956,L1-No Force by Officer,No Force by Officer,L1,yes,,...,terminated,FOB - Field Operations Bureau,Seventh District,Night Watch,NaN,26,03:07,2019,New Orleans PD,5d7b35e12ee7ddf4dd8f7bed638f201b
4910,FTN2016-0644,2016,2012,12,3555,L1-Firearm (Exhibited),Firearm Exhibited,L1,yes,,...,active,MSB - Management Service Bureau,Administrative Duties Services,LWOP,NaN,26,03:07,2019,New Orleans PD,219e868349a432812329883982134d78
4911,FTN2016-0644,2016,2012,12,2251,L1-CEW Exhibited/Laser,Taser Exhibited,L1,yes,,...,active,MSB - Management Service Bureau,Administrative Duties Services,Workmans Compensation,NaN,26,03:07,2019,New Orleans PD,44256bc5da34998eb4449067761094e3

In [3]:
show_columns_with_differences(df[df.uof_tracking_number == 'FTN2018-0069'])
# show_columns_with_differences(df[(df.uof_tracking_number == 'FTN2017-0285') & (df.officer_primary_key == '1663')])

,officer_primary_key,citizen_age,citizen_sex,citizen_age_1,officer_current_supervisor,officer_age,uof_uid
1145,2061,23,male,24,2089,50,9fffa68421ccb3e5a430fce9005df0f5
1146,2061,27,male,28,2089,50,f123f1e0134d48a3df0deb61f17db807
1147,2061,22,female,23,2089,50,7d6088e20fdc5209f416b6f64e4e95ae
1148,2061,25,female,26,2089,50,1c3348444a7eb6c3d8a23d8ba045c444
1149,2669,25,female,26,3585,46,b011eb9222f444e2fd59d6954a943c78
1150,2669,22,female,23,3585,46,feab139ee1573ebfb81f35877460cdc1
1151,2669,27,male,28,3585,46,fbebe8c178bc0dbf981fad1d8d2662ca
1152,2669,23,male,24,3585,46,1473d079541c6b3bc46d07313510c70a

In [4]:
df.columns

Index(['uof_tracking_number', 'report_year', 'occur_year', 'occur_month',
       'officer_primary_key', 'force_description', 'force_type', 'force_level',
       'effective_uof', 'accidental_discharge', 'less_than_lethal',
       'receive_date', 'due_datetime', 'assigned_date', 'completed_date',
       'created_date', 'status', 'source', 'service_type', 'county',
       'traffic_stop', 'sustained', 'force_reason', 'weather_description',
       'distance_from_officer', 'body_worn_camera_available', 'app_used',
       'citizen_arrested', 'citizen_hospitalized', 'citizen_injured',
       'citizen_body_type', 'citizen_height', 'citizen_age',
       'citizen_involvement', 'disposition', 'citizen_sex', 'citizen_race',
       'citizen_age_1', 'officer_current_supervisor', 'officer_title',
       'officer_injured', 'officer_age', 'officer_years_exp',
       'officer_years_with_unit', 'officer_type', 'officer_employment_status',
       'officer_department', 'officer_division', 'officer_sub_division_a',
       'officer_sub_division_b', 'occur_day', 'occur_time',
       'data_production_year', 'agency', 'uof_uid'],
      dtype='object')