In [1]:
import sys; sys.path.append('../')
import pandas as pd

from clean.ipm_new_orleans_pd_use_of_force import clean
from lib.explore import show_unique

In [2]:
df = clean()
df

../clean/ipm_new_orleans_pd_use_of_force.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[:, col] = df[col].str.replace(r' \d:\d\d$', '')
../clean/ipm_new_orleans_pd_use_of_force.py:19: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[:, 'occur_day'] = df.occur_date.str.replace(
../clean/ipm_new_orleans_pd_use_of_force.py:27: FutureWarning: The default value of regex will change from True to False in a future version.
  df.occur_minute.str.replace(r'\:.+', ''), sep=':')
../lib/clean.py:134: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[:, col] = df[col].str.strip().str.lower()\
../lib/clean.py:142: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[:, col] = df[col].str.strip().str.lower()\

,uof_tracking_number,report_year,occur_year,occur_month,officer_primary_key,citizen_primary_key,force_description,force_type,force_level,effective_uof,...,officer_years_exp,officer_years_with_unit,officer_type,officer_employment_status,officer_department,officer_division,officer_sub_division_a,officer_sub_division_b,occur_day,occur_time
0,FTN2019-0054,2019,2019,2,1455,13857,L2-Takedown (w/injury),Takedown (w/injury),L2,yes,...,12,6,commissioned,active,FOB - Field Operations Bureau,NaN,NaN,NaN,12,12:37
1,FTN2019-0054,2019,2019,2,6080,13857,L2-Takedown (w/injury),Takedown (w/injury),L2,yes,...,3,3,commissioned,active,FOB - Field Operations Bureau,Third District,B Platoon,NaN,12,12:37
2,FTN2019-0046,2019,2019,2,6150,13840,L1-Takedown (no injury),Takedown (no injury),L1,yes,...,3,3,commissioned,active,FOB - Field Operations Bureau,NaN,NaN,NaN,6,12:59
3,FTN2019-0046,2019,2019,2,6127,13840,L1-Takedown (no injury),Takedown (no injury),L1,yes,...,3,3,commissioned,active,FOB - Field Operations Bureau,Third District,C Platoon,NaN,6,12:59
4,FTN2019-0047,2019,2019,2,731,13842,L3-Baton/PR-24 (Strike),Baton/PR-24 (Strike),L3,no,...,29,6,commissioned,active,FOB - Field Operations Bureau,Eighth District,A Platoon,NaN,6,12:52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4907,FTN2016-0549,2016,2015,11,5904,10747,L1-Force (Escort Tech),Hands / Escort tech,L1,yes,...,,,non-commissioned,active,FOB - Field Operations Bureau,First District,1st Platoon,NaN,5,17:50
4908,FTN2016-0549,2016,2015,11,5905,10747,L1-Force (Escort Tech),Hands / Escort tech,L1,yes,...,,,non-commissioned,active,FOB - Field Operations Bureau,First District,1st Platoon,NaN,5,17:50
4909,FTN2016-0644,2016,2012,12,5956,10955,L1-No Force by Officer,No Force by Officer,L1,yes,...,-3,-3,commissioned,terminated,FOB - Field Operations Bureau,Seventh District,Night Watch,NaN,26,03:07
4910,FTN2016-0644,2016,2012,12,3555,10955,L1-Firearm (Exhibited),Firearm Exhibited,L1,yes,...,21,,commissioned,active,MSB - Management Service Bureau,Administrative Duties Services,LWOP,NaN,26,03:07
4911,FTN2016-0644,2016,2012,12,2251,10955,L1-CEW Exhibited/Laser,Taser Exhibited,L1,yes,...,21,-2,commissioned,active,MSB - Management Service Bureau,Administrative Duties Services,Workmans Compensation,NaN,26,03:07