In [1]:
import sys; sys.path.append("../")
import pandas as pd

from clean.ipm_new_orleans_iapro_pprr import clean
from fuse.new_orleans_pd import fuse_events
from lib.columns import clean_column_names
from lib.explore import show_unique
from lib.uid import gen_uid
from lib import events

In [2]:
df = clean()
df

../clean/ipm_new_orleans_iapro_pprr.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[:, 'badge_no'] = df.badge_no.str.replace(r'^0+', '')
../clean/ipm_new_orleans_iapro_pprr.py:26: FutureWarning: The default value of regex will change from True to False in a future version.
  dates = df[col].fillna('').str.replace(r' \d{2}:\d{2}:\d{2}$', '')\
../clean/ipm_new_orleans_iapro_pprr.py:58: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[:, 'last_name'] = df.last_name.str.replace(r'^unknown.*', '')\

,employee_id,badge_no,rank_desc,employee_type,employment_status,officer_inactive,years_employed,birth_year,sex,race,...,hire_year,hire_month,hire_day,left_year,left_month,left_day,dept_year,dept_month,dept_day,middle_initial
0,6301,NaN,,NaN,,no,,,female,black,...,,,,,,,,,,
1,6313,NaN,,non-commissioned,,no,,,male,black,...,,,,,,,,,,
2,6435,NaN,,NaN,,no,,,unknown,unknown,...,,,,,,,,,,
3,6461,30061,police recruit academy,NaN,terminated,yes,,1992,male,black,...,,,,,,,,,,p
4,6468,NaN,,NaN,,no,,,unknown,unknown,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5665,6523,NaN,laborer,non-commissioned,active,no,3,1995,male,black,...,2018,04,15,,,,2018,04,25,a
5666,6524,NaN,police aide,non-commissioned,terminated,yes,3,1998,male,black,...,2018,04,29,,,,2018,04,29,n
5667,6525,NaN,police aide,non-commissioned,active,no,3,1991,male,black,...,2018,04,29,,,,2018,04,29,d
5668,6526,NaN,police aide,non-commissioned,active,no,3,1989,female,black,...,2018,05,13,,,,2018,05,13,n
5669,6527,NaN,police aide,non-commissioned,active,no,3,1983,male,white,...,2018,05,13,,,,2018,05,13,l

In [4]:
df.sex.unique()

array(['female', 'male', 'unknown'], dtype=object)