In [1]:
import sys; sys.path.append("../")
import pandas as pd

from clean.ipm_new_orleans_iapro_pprr import clean
from fuse.new_orleans_pd import fuse_events
from lib.columns import clean_column_names
from lib.explore import show_unique
from lib.uid import gen_uid
from lib import events

In [2]:
df = clean()
df

,employee_id,badge_no,rank_desc,employee_type,employment_status,officer_inactive,years_employed,birth_year,sex,race,...,hire_year,hire_month,hire_day,left_year,left_month,left_day,dept_year,dept_month,dept_day,middle_initial
0,368,NaN,complaint operator,non-commissioned,terminated,yes,14,1984,female,Black / African American,...,2007,3,18,,,,2014,3,23,
1,6353,NaN,performance auditor,non-commissioned,active,no,4,1986,female,Black / African American,...,2017,8,6,,,,2017,8,7,s
2,4092,NaN,school crossing guard,non-commissioned,terminated,yes,23,1941,female,Black / African American,...,1998,11,22,2005,10,14,2005,10,14,l
3,3318,340,sergeant,commissioned,retired,yes,39,1943,female,White,...,1982,8,29,2006,7,9,2006,7,9,r
4,4093,NaN,school crossing guard,non-commissioned,terminated,yes,25,1977,female,Black / African American,...,1996,11,14,1997,2,21,1999,3,28,n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5665,5813,NaN,,NaN,,no,,,,Unknown race,...,,,,,,,,,,
5666,5859,NaN,,NaN,,no,,,,Unknown race,...,,,,,,,,,,
5667,6014,NaN,,NaN,,no,,,,Unknown race,...,,,,,,,,,,
5668,5265,NaN,,NaN,inactive,yes,,,,Unknown race,...,,,,,,,,,,
5669,5350,NaN,,NaN,inactive,yes,,,,Unknown race,...,,,,,,,,,,

In [3]:
df.race.unique()

array(['Black / African American', 'White', 'Native American', 'Hispanic',
       'Asian / Pacific Islander', 'Unknown race'], dtype=object)