In [1]:
import sys; sys.path.append("../")

import pandas as pd

from lib.explore import show_unique
from clean.louisiana_state_csc_lprr import clean

In [2]:
df = clean()
df

,docket_no,appellant,charging_supervisor,filed_date,rendered_date,decision,delay,appealed
0,91-01-P,Berry,Flores,NaN,NaN,Denied,NaN,Yes
1,91-02-O,Hanna,Flores,NaN,NaN,Settled,NaN,NaN
2,91-03-2,Greenwood,Flores,NaN,NaN,Denied,NaN,NaN
3,91-04-P,Giles,Flores,NaN,NaN,Denied,NaN,NaN
4,91-05-O,Blackweldergetal,Flores,NaN,NaN,Withdrawn,NaN,NaN
...,...,...,...,...,...,...,...,...
235,18-243-S,Eric Curlee,R,11/20/2018,3/12/2020,Settled,3.8 mos,NaN
236,19-244-T,Sheldon Perkins,R,10/1/2019,NaN,NaN,NaN,NaN
237,20-245-T,Joey Schouest,R,3/5/2020,NaN,NaN,NaN,NaN
238,20-246-T,Santigo St. Clair,R,4/6/2020,NaN,NaN,NaN,NaN
239,20-247-S,"Trahan, John",R,4/24/2020,9/10/2020,denied,3.5 mos,NaN

In [10]:
df[~df.appellant.str.strip().str.contains(" ")]

,docket_no,appellant,charging_supervisor,filed_date,rendered_date,decision,delay,appealed
0,91-01-P,Berry,Flores,NaN,NaN,Denied,NaN,Yes
1,91-02-O,Hanna,Flores,NaN,NaN,Settled,NaN,NaN
2,91-03-2,Greenwood,Flores,NaN,NaN,Denied,NaN,NaN
3,91-04-P,Giles,Flores,NaN,NaN,Denied,NaN,NaN
4,91-05-O,Blackweldergetal,Flores,NaN,NaN,Withdrawn,NaN,NaN
...,...,...,...,...,...,...,...,...
59,94-63-O,LeBlanc,Fontenot,NaN,NaN,NaN,NaN,NaN
60,94-64-T,Antoine,Fontenot,NaN,NaN,Denied,NaN,Yes
61,95-65-S,Taylor,Fontenrt,NaN,NaN,Action Modified,NaN,NaN
62,95-66-S,Johnson,Fontenot,NaN,NaN,Denied,NaN,NaN
63,95-67-S,Hilburn,Fontenot,NaN,NaN,Settlement,NaN,NaN