In [2]:
import sys; sys.path.append("../")

import pandas as pd

from lib.explore import show_unique
from clean.louisiana_state_csc_lprr import clean
from clean.post_pprr import clean as clean_post

In [3]:
df = clean()
df

,docket_no,appellant,charging_supervisor,filed_date,rendered_date,decision,delay,appealed
0,91-01-P,Berry,Flores,NaN,NaN,Denied,NaN,Yes
1,91-02-O,Hanna,Flores,NaN,NaN,Settled,NaN,NaN
2,91-03-2,Greenwood,Flores,NaN,NaN,Denied,NaN,NaN
3,91-04-P,Giles,Flores,NaN,NaN,Denied,NaN,NaN
4,91-05-O,Blackweldergetal,Flores,NaN,NaN,Withdrawn,NaN,NaN
...,...,...,...,...,...,...,...,...
235,18-243-S,Eric Curlee,R,11/20/2018,3/12/2020,Settled,3.8 mos,NaN
236,19-244-T,Sheldon Perkins,R,10/1/2019,NaN,NaN,NaN,NaN
237,20-245-T,Joey Schouest,R,3/5/2020,NaN,NaN,NaN,NaN
238,20-246-T,Santigo St. Clair,R,4/6/2020,NaN,NaN,NaN,NaN
239,20-247-S,"Trahan, John",R,4/24/2020,9/10/2020,denied,3.5 mos,NaN

In [4]:
post = clean_post()
post

../lib/clean.py:152: FutureWarning: The default value of regex will change from True to False in a future version.
  return series.str.strip().str.replace(r"[^\w-]+", " ").str.replace(r"\s+", " ")\
../clean/post_pprr.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  df.loc[:, "agency"] = df.agency.str.strip()\

,agency,last_name,first_name,employment_status,level_1_cert_date,last_pc_12_qualification_date,data_production_year,hire_year,hire_month,hire_day,uid
0,14th jdc da office,abshire,dustin,full-time,1998-06-11,2010-10-27,2020,2013,06,01,43ee7cb8a15ca49e883372d3c99988e1
1,17th da office,ourso,damian,full-time,2004-05-13,2010-10-07,2020,2008,11,11,8875f7c0749a1de0923c1242a4363622
2,17th da office,besson,bruce,full-time,NaT,2008-01-26,2020,1997,02,11,2c35336b17f9986c7547656bb72508fe
3,17th da office,bourg,billy,full-time,1991-04-24,2010-10-07,2020,1990,10,12,e17ebe5f0a893d9cb6aac11bf9673c32
4,19th da office,cadarette,steve,full-time,2003-08-28,2020-04-28,2020,2016,04,11,84a22650eb29e5d7d17721d59c3a2fc6
...,...,...,...,...,...,...,...,...,...,...,...
38898,youngsville pd,fruge,hilary,reserve,2010-11-18,2020-06-22,2020,2017,11,27,2e785e632588b75ebe30c3651f80837c
38899,youngsville pd,mouton,todd,reserve,NaT,2020-06-15,2020,2017,07,01,e2642ae3d8360270ac3b4cfd5d8c5ea4
38900,youngsville pd,hidalgo,jeremy,reserve,NaT,2020-07-31,2020,2017,12,01,a5ca9eebadff5a86ea4e7dd507ba1f73
38901,zachary pd,viccellio,david,reserve,NaT,2019-12-04,2020,2019,12,03,3c6043ea0d02ebbab16968c88c9107f0
38902,zachary pd,maurer,john,reserve,NaT,2019-09-07,2020,2017,05,25,095a275299489ede7eaa839daef8b6fe

In [6]:
post.loc[post.agency.str.contains("commission"), "agency"]

13318    la public service commission
13319    la public service commission
13320    la public service commission
Name: agency, dtype: object

In [7]:
post.loc[post.agency.str.contains("louisiana"), "agency"]

17813    louisiana office of inspector general
17814    louisiana office of inspector general
17815    louisiana office of inspector general
17816    louisiana office of inspector general
17817    louisiana office of inspector general
32810             univ. pd - louisiana college
Name: agency, dtype: object