In [1]:
import re
from os import listdir
import sys; sys.path.append("../")

import pandas as pd

from lib.name import clean_name
from lib.date import to_datetime_series
from lib.new_orleans_pd_pprr import clean_pprr, remove_unnamed_cols

In [2]:
df1 = pd.read_excel("../data/New Orleans PD/Administrative Data/New Orleans_PD_PPRR_1999.xls")
df1

,Pay Group - Job Dta,Empl ID,Name - Personal Dta,Birthdate - Personal Dta,Department ID - Job Dta,Job Code - Job Dta,Description - Job Code Info,Badge Nbr
0,POL,6000,"Germann,Jayson R",1975,2702737,C7110,POLICE OFFICER 1,NaN
1,POL,6003,"Burkhart,Christopher J",1971,2702735,C7110,POLICE OFFICER 1,NaN
2,POL,6006,"Fihlman,Matthew E",1973,2702731,C7110,POLICE OFFICER 1,NaN
3,POL,6008,"Mitchell Jr,Brian J",1968,2702731,C7110,POLICE OFFICER 1,NaN
4,POL,6009,"Mc Court,Mark A",1976,2702735,C7110,POLICE OFFICER 1,NaN
...,...,...,...,...,...,...,...,...
1597,POL,10445,"Gagnon,Chad C",1971,2702731,C7110,POLICE OFFICER 1,NaN
1598,POL,10446,"Martin,Christopher D",1974,2702731,C7110,POLICE OFFICER 1,NaN
1599,POL,10898,"Talley,David",1952,2702736,C7134,POLICE OFFICER 4,NaN
1600,POL,11432,"Gex,Nathan",1973,2702780,C7110,POLICE OFFICER 1,NaN
1601,POL,13861,"Guggenheim,Gary",1957,2702737,C7133,POLICE OFFICER 3,NaN

In [3]:
prefix = "../data/New Orleans PD/Administrative Data/"
excel_files = [name for name in listdir(prefix) if name.endswith(".xls")]
input_dfs = {name: pd.read_excel(prefix+name) for name in excel_files}
for k, df in input_dfs.items():
    input_dfs[k] = remove_unnamed_cols(df)

In [4]:
for k, df in input_dfs.items():
    df.to_csv("../output/%s.csv" % k[:-4])

In [5]:
output_dfs = dict()
for name, df1 in input_dfs.items():
    df2 = clean_pprr(df1)
    output_dfs[name] = df2

In [6]:
output_dfs["New Orleans_PD_PPRR_1999.xls"]

,Last Name,Middle Name,First Name,Badge #,Department #,Rank Number #,Rank,Birth Year
0,Germann,R,Jayson,NaN,2702737,C7110,POLICE OFFICER 1,1975
1,Burkhart,J,Christopher,NaN,2702735,C7110,POLICE OFFICER 1,1971
2,Fihlman,E,Matthew,NaN,2702731,C7110,POLICE OFFICER 1,1973
3,Mitchell Jr,J,Brian,NaN,2702731,C7110,POLICE OFFICER 1,1968
4,Mc Court,A,Mark,NaN,2702735,C7110,POLICE OFFICER 1,1976
...,...,...,...,...,...,...,...,...
1597,Gagnon,C,Chad,NaN,2702731,C7110,POLICE OFFICER 1,1971
1598,Martin,D,Christopher,NaN,2702731,C7110,POLICE OFFICER 1,1974
1599,Talley,,David,NaN,2702736,C7134,POLICE OFFICER 4,1952
1600,Gex,,Nathan,NaN,2702780,C7110,POLICE OFFICER 1,1973
1601,Guggenheim,,Gary,NaN,2702737,C7133,POLICE OFFICER 3,1957