In [1]:
import sys; sys.path.append("../")

import pandas as pd

from lib.explore import show_unique, print_df
import deba
from datamatch import (
    ColumnsIndex, StringSimilarity, JaroWinklerSimilarity, DateSimilarity, ThresholdMatcher
)
from lib.date import combine_date_columns
from clean.new_orleans_pd_pprr import clean
from clean.new_orleans_csd_pprr import clean_2014 as clean_csd_2014, clean_2009 as clean_csd_2009

# New Orleans PPRR

## Cleaning 1999-2020 NO PD PPRR

In [2]:
pd_pprr = clean()
pd_pprr[pd_pprr.data_production_year == "2009"]

,employee_id,birth_year,department_code,rank_code,rank_desc,badge_no,last_name,first_name,middle_initial,data_production_year,agency,uid,middle_name,department_desc,hire_year,hire_month,hire_day
0,569,1963,2702736,C7134,senior police officer,00911,conway,corliss,d,2009,New Orleans PD,8b16ebc056e613024c057be590b542eb,NaN,NaN,NaN,NaN,NaN
1,1142,1958,2702740,C7134,senior police officer,,plustache,daniel,,2009,New Orleans PD,8ce6790cc6a94e65f17f908f462fae85,NaN,NaN,NaN,NaN,NaN
2,1391,1978,2702735,C7132,police officer 2,,marshall,tianay,m,2009,New Orleans PD,7f53f8c6c730af6aeb52e66eb74d8507,NaN,NaN,NaN,NaN,NaN
3,1573,1970,2702731,C7133,police officer 3,,austin,larissa,j,2009,New Orleans PD,a1afc58c6ca9540d057299ec3016d726,NaN,NaN,NaN,NaN,NaN
4,1599,1975,2702750,C7110,police officer,,weber,tamara,l,2009,New Orleans PD,83e8ef518174e1eb6be4a0778d050c9d,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1417,19778,1970,2702750,C7110,police officer,,powell,jeffrey,,2009,New Orleans PD,9d203879c2650125412c8c1e894be590,NaN,NaN,NaN,NaN,NaN
1418,19782,1977,2702733,C7110,police officer,,cummings,eugene,,2009,New Orleans PD,8651920f3ba2e5f8bcd3e58ba0b48584,NaN,NaN,NaN,NaN,NaN
1419,19805,1970,2702736,C7110,police officer,,burnette,jonathan,,2009,New Orleans PD,2aa49677fddf127f4230c74ece40b8a7,NaN,NaN,NaN,NaN,NaN
1420,19938,1977,2702732,C7110,police officer,,moore,michael,,2009,New Orleans PD,bea274dd9c29a248928ccf211b52750f,NaN,NaN,NaN,NaN,NaN
1421,20056,1982,2702731,C7110,police officer,,carwile,joshua,,2009,New Orleans PD,b1823297adf46a9cadba8244c11655ad,NaN,NaN,NaN,NaN,NaN

In [4]:
pd_pprr.department_desc.unique()

array([nan, 'police recruits', 'fiscal management', 'seventh district',
       'fifth  district', 'second district', 'third  district',
       'eighth district', 'sixth  district', 'first district',
       'fourth district', 'field operations', 'public integrity',
       'managemnt services bureau', 'special investigation div',
       'special operations', 'investigations & sprt bure', 'traffic',
       'off of the superintendent', 'mid city',
       'lakeview crime prevent dst', 'public affairs'], dtype=object)