In [1]:
import sys; sys.path.append("../")

from clean.new_orleans_pd import read_csv_files

In [4]:
input_dfs = read_csv_files()
input_keys = list(input_dfs.keys())
input_keys.sort()
input_keys

['new_orleans_pd_pprr_1999.csv',
 'new_orleans_pd_pprr_2000.csv',
 'new_orleans_pd_pprr_2001.csv',
 'new_orleans_pd_pprr_2002.csv',
 'new_orleans_pd_pprr_2003.csv',
 'new_orleans_pd_pprr_2004.csv',
 'new_orleans_pd_pprr_2005.csv',
 'new_orleans_pd_pprr_2006.csv',
 'new_orleans_pd_pprr_2007.csv',
 'new_orleans_pd_pprr_2008.csv',
 'new_orleans_pd_pprr_2009.csv',
 'new_orleans_pd_pprr_2010.csv',
 'new_orleans_pd_pprr_2011.csv',
 'new_orleans_pd_pprr_2012.csv',
 'new_orleans_pd_pprr_2013.csv',
 'new_orleans_pd_pprr_2014.csv',
 'new_orleans_pd_pprr_2015.csv',
 'new_orleans_pd_pprr_2016.csv',
 'new_orleans_pd_pprr_2017.csv',
 'new_orleans_pd_pprr_2018.csv',
 'new_orleans_pd_pprr_2019.csv']

In [5]:
input_dfs["new_orleans_pd_pprr_2019.csv"]

,pay_group_job_dta,empl_id,name_personal_dta,birthdate_personal_dta,department_id_job_dta,job_code_job_dta,description_job_code_info,badge_nbr
0,POL,569,"Conway,Corliss D",1963,2702736,C7134,SENIOR POLICE OFFICER,00911
1,POL,1369,"Kendrick,Jamal D",1969,2702734,C7110,POLICE OFFICER,01226
2,POL,1391,"Marshall,Tianay M",1978,2702734,C7134,SENIOR POLICE OFFICER,02101
3,POL,1599,"Weber,Tamara L",1975,2702750,C7134,SENIOR POLICE OFFICER,01580
4,POL,2507,"Pierce,Arlinda G",1969,2702705,U0018,ASSISTANT SUPT OF POLICE,
...,...,...,...,...,...,...,...,...
1172,POL,31419,"Miller,Patrick M",1991,2702733,C7110,POLICE OFFICER,
1173,POL,31426,"Collins,Cleveland",1995,2702732,C7110,POLICE OFFICER,
1174,POL,31429,"Broussard,Dennis E",1993,2702737,C7110,POLICE OFFICER,
1175,POL,31431,"Condoll,Tyneisha",1994,2702737,C7110,POLICE OFFICER,
1176,POL,31634,"Venables,Lynn V",1953,2702718,C7110,POLICE OFFICER,

In [6]:
input_dfs[ 'new_orleans_pd_pprr_2018.csv']

,empl_id,last_name,first_name,middle_name,home_orgn,work_loc,orgn_desc,title_code,title_desc,badge_number,hire_date_employment_dta
0,30937,Gittleson,Karis,,2718,27331CB,POL POLICE RECRUITS,C7109,POLICE RECRUIT,513,09/16/2018
1,31032,Kratt,Shelly,L,2718,27331CB,POL POLICE RECRUITS,C7109,POLICE RECRUIT,2179,11/11/2018
2,31036,Blanchard,Blaze,M.,2718,27331CB,POL POLICE RECRUITS,C7109,POLICE RECRUIT,668,11/11/2018
3,29501,Simko,Mallory,V,2750,27601NA,POL FISCAL MANAGEMENT,C7109,POLICE RECRUIT,,10/16/2016
4,30817,Carolan,Sean-Michael,,2718,27341DB,POL POLICE RECRUITS,C7109,POLICE RECRUIT,796,07/15/2018
...,...,...,...,...,...,...,...,...,...,...,...
1198,25623,Murphy,Daniel,Patrick,2720,27201AA,POL SPECIAL INVESTIGATION DIV,U0018,ASSISTANT SUPT OF POLICE,,05/25/2014
1199,2507,Pierce,Arlinda,G,2705,27051AA,POL PUBLIC INTEGRITY,U0018,ASSISTANT SUPT OF POLICE,,06/09/1989
1200,7113,Goodly,Christopher,,2740,27401HA,POL MANAGEMNT SERVICES BUREAU,U0018,ASSISTANT SUPT OF POLICE,00076,04/06/1997
1201,9325,Thomas,John,D,2760,27801KA,POL INVESTIGATIONS & SPRT BURE,U0018,ASSISTANT SUPT OF POLICE,00031,06/11/1984
1202,7121,Harrison,Michael,S,2702,27021AA,POL OFF OF THE SUPERINTENDENT,U0138,SUPERINTENDENT OF POLICE,00120,11/10/1991