In [1]:
import sys; sys.path.insert(0, "../")

import pandas as pd

from lib.name import clean_name
from lib.date import to_datetime_series
from lib.columns import rearrange_personel_columns

In [2]:
df1 = pd.read_excel("../data/New Orleans Civil Service Department/Administrative Data/PPRR_09-10-2020.xls")
df1

,Home Agcy,ORGN Desc,Last Name,First Name,Birth Date,Hire Date,Title Code,Title Desc,Termination Date,Pay Prog Start Date,Annual Salary
0,270,POL MANAGEMNT SERVICES BUREAU,Moore,Charmaine,01/01/1901,1996-02-08,C0025,CLERICAL SPECIALIST,1996-08-28,1996-08-28,11235.83
1,270,POL MANAGEMNT SERVICES BUREAU,Coxen,Shanna,10/05/1972,1996-09-22,C5201,LABORATORY TECHNICIAN 1,1997-01-01,1997-01-01,14951.72
2,270,POL SPECIAL INVESTIGATION DIV,Cavaliere Sr,Morris,07/21/1947,1970-12-21,C7134,POLICE OFFICER 4,1997-01-04,1997-01-04,29243.06
3,270,POL FIRST DISTRICT,Fonseca,Norbert,08/31/1943,1967-08-21,C7112,POLICE LIEUTENANT,1997-01-04,1997-01-04,39893.17
4,270,POL FIFTH DISTRICT,Hartman,Steven,03/11/1964,1985-02-10,C7112,POLICE LIEUTENANT,1997-01-04,1997-01-04,33524.95
...,...,...,...,...,...,...,...,...,...,...,...
3681,270,POL MANAGEMNT SERVICES BUREAU,Johnson,Shawn,06/23/1990,2014-08-17,C7105,POLICE AIDE,2014-12-10,2014-08-17,28882.03
3682,270,POL SIXTH DISTRICT,Linehan,Henry,08/18/1982,2009-12-27,C7110,POLICE OFFICER 1,2014-12-11,2011-03-13,37490.69
3683,270,POL FIRST DISTRICT,Finneman,David,12/20/1960,2001-09-16,C7111,POLICE SERGEANT,2014-12-13,2013-01-30,50513.12
3684,270,POL MANAGEMNT SERVICES BUREAU,Badr,Mohamed,10/06/1980,2014-08-31,C7105,POLICE AIDE,2014-12-20,2014-08-31,28882.03
3685,270,POL MANAGEMNT SERVICES BUREAU,Patrick,Carol,10/23/1974,2014-08-17,C7105,POLICE AIDE,2014-12-30,2014-08-17,28882.03

In [3]:
df2 = df1[["ORGN Desc", "Last Name", "First Name", "Birth Date", "Hire Date", "Title Code", "Title Desc", "Termination Date", "Pay Prog Start Date", "Annual Salary"]]
df2.rename(columns={
    "ORGN Desc": "Department",
    "Title Code": "Rank Number #",
    "Title Desc": "Rank",
}, inplace=True)
df2 = rearrange_personel_columns(df2)
for col in ["Last Name", "First Name"]:
    df2.loc[:, col] = df2[col].map(clean_name, na_action="ignore")
for col in ["Birth Date", "Hire Date", "Termination Date", "Pay Prog Start Date"]:
    df2.loc[:, col] = to_datetime_series(df2[col])
df2

,Last Name,First Name,Department,Rank Number #,Rank,Birth Date,Hire Date,Termination Date,Pay Prog Start Date,Annual Salary
0,Moore,Charmaine,POL MANAGEMNT SERVICES BUREAU,C0025,CLERICAL SPECIALIST,1901-01-01,1996-02-08,1996-08-28,1996-08-28,11235.83
1,Coxen,Shanna,POL MANAGEMNT SERVICES BUREAU,C5201,LABORATORY TECHNICIAN 1,1972-10-05,1996-09-22,1997-01-01,1997-01-01,14951.72
2,Cavaliere Sr,Morris,POL SPECIAL INVESTIGATION DIV,C7134,POLICE OFFICER 4,1947-07-21,1970-12-21,1997-01-04,1997-01-04,29243.06
3,Fonseca,Norbert,POL FIRST DISTRICT,C7112,POLICE LIEUTENANT,1943-08-31,1967-08-21,1997-01-04,1997-01-04,39893.17
4,Hartman,Steven,POL FIFTH DISTRICT,C7112,POLICE LIEUTENANT,1964-03-11,1985-02-10,1997-01-04,1997-01-04,33524.95
...,...,...,...,...,...,...,...,...,...,...
3681,Johnson,Shawn,POL MANAGEMNT SERVICES BUREAU,C7105,POLICE AIDE,1990-06-23,2014-08-17,2014-12-10,2014-08-17,28882.03
3682,Linehan,Henry,POL SIXTH DISTRICT,C7110,POLICE OFFICER 1,1982-08-18,2009-12-27,2014-12-11,2011-03-13,37490.69
3683,Finneman,David,POL FIRST DISTRICT,C7111,POLICE SERGEANT,1960-12-20,2001-09-16,2014-12-13,2013-01-30,50513.12
3684,Badr,Mohamed,POL MANAGEMNT SERVICES BUREAU,C7105,POLICE AIDE,1980-10-06,2014-08-31,2014-12-20,2014-08-31,28882.03
3685,Patrick,Carol,POL MANAGEMNT SERVICES BUREAU,C7105,POLICE AIDE,1974-10-23,2014-08-17,2014-12-30,2014-08-17,28882.03

In [4]:
df2.to_csv("../output/new-orleans-csd_personel_09-10-2020.csv", index=False)