In [1]:
import sys; sys.path.append('../')
import pandas as pd

from clean.shreveport_pd_cprr import clean_cprr

In [2]:
df = clean_cprr('shreveport_pd/shreveport_pd_cprr_dispositions_2018.csv', 'shreveport_pd/shreveport_pd_cprr_names_2018.csv', '2018')
# df = clean_cprr(
#     'shreveport_pd/shreveport_pd_cprr_dispositions_2019.csv',
#     'shreveport_pd/shreveport_pd_cprr_names_2019.csv',
#     '2019',
# )
df

/Users/khoipham/.virtualenvs/base/lib/python3.9/site-packages/pandas/core/indexing.py:1597: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
/Users/khoipham/.virtualenvs/base/lib/python3.9/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)
/Users/khoipham/.virtualenvs/base/lib/python3.9/site-packages/pandas/core/indexing.py:1843: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item_labels[indexer[info_axis]]] = value

,receive_date,tracking_number,allegation,disposition,agency,data_production_year,uid,first_name,last_name,middle_name,middle_initial,complainant_name,complaint_uid
0,01/08/2018,N 01-001,spd 701.01 communi,NaN,Shreveport PD,2018,NaN,NaN,NaN,NaN,NaN,NaN,7cd8c42b39ba11b8e898ea8fa3d754f6
1,01/08/2018,N 01-001,spd 306.01 duties,SUSTAINED,Shreveport PD,2018,NaN,NaN,NaN,NaN,NaN,NaN,908083461db92595201a7b46546ec142
2,01/08/2018,N 01-001,spd 606.10 firearms,SUSTAINED,Shreveport PD,2018,NaN,NaN,NaN,NaN,NaN,NaN,16018a11f10276c7d36b9f16c00c63bb
3,01/08/2018,N 01-002,"scj a-105 iii, (c) (4",NOT SUSTAINED,Shreveport PD,2018,NaN,NaN,NaN,NaN,NaN,NaN,bccc95562da476895e52dd2a13da6d8f
4,01/08/2018,N 01-002,spd 306.01 duties &,NOT SUSTAINED,Shreveport PD,2018,NaN,NaN,NaN,NaN,NaN,NaN,cab09a04b18040eb53f72f08cc247e55
...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,12/20/2018,N 12-212,spd 404.01 completion o,NaN,Shreveport PD,2018,2a435fea52eec8d9e8e3d979a2f807c4,henry,burak,,,"Mims, Katie",f94df74283bdb6bfbb7ec71f7ba95aac
351,12/28/2018,N 12-213,"spd 501,06 police vehicl",NaN,Shreveport PD,2018,6accb42cb2632db1c4e1e2edb7f24719,treveion,brooks,,,"Grant, Keith",221cef2208eeac84307e05511dd3d444
352,12/28/2018,N 12-214,"spd 404,01 completion o",NaN,Shreveport PD,2018,0058dee3ff98e5c39bebf7f7249817f4,michael,flentge,,,"Miles, LaShunda",cd449098eb0f5aa310569ccae3b12afb
353,12/28/2018,N 12-214,spd 602.01 traffic crash inve,NaN,Shreveport PD,2018,0058dee3ff98e5c39bebf7f7249817f4,michael,flentge,,,"Miles, LaShunda",243340d305a5dbf65e4539fbf04a51aa
354,12/28/2018,N 12-215,spd 404.01 completion o,NaN,Shreveport PD,2018,9a6b78a2a7aaeb57bb3fbe1b728b1fae,dylan,hudson,,,"Brown, Keith",9cbd77714b1ca02cadd9443ceab60bae

In [6]:
df.middle_name.unique()

array([nan, ''], dtype=object)