In [1]:
import sys; sys.path.append('../')
import pandas as pd

from clean.slidell_pd import clean_pprr_19, clean_pprr_09, clean_csd_pprr

In [2]:
df19 = clean_pprr_19()
df19

/Users/khoipham/.virtualenvs/base/lib/python3.9/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

,rank_desc,salary_date,hire_date,salary,salary_freq,department_desc,badge_no,employment_status,first_name,last_name,agency,uid
0,police officer 2nd class,01/01/2010,03/24/2004,16.21,hourly,criminal investigations,221,no longer with spd,mario,arthur iii,Slidell PD,275f97ca9b93dd81741a05d40836accb
1,police officer 1st class,12/09/2010,03/24/2004,17.62,hourly,criminal investigations,221,no longer with spd,mario,arthur iii,Slidell PD,275f97ca9b93dd81741a05d40836accb
2,police officer 1st class,01/02/2012,03/24/2004,18.06,hourly,criminal investigations,221,no longer with spd,mario,arthur iii,Slidell PD,275f97ca9b93dd81741a05d40836accb
3,police officer 1st class,07/01/2014,03/24/2004,19.23,hourly,criminal investigations,221,no longer with spd,mario,arthur iii,Slidell PD,275f97ca9b93dd81741a05d40836accb
4,police officer 1st class,07/01/2015,03/24/2004,19.73,hourly,criminal investigations,221,no longer with spd,mario,arthur iii,Slidell PD,275f97ca9b93dd81741a05d40836accb
...,...,...,...,...,...,...,...,...,...,...,...,...
875,police officer 1st class,07/01/2014,11/05/2018,20.71,hourly,patrol division,720,still employed,thomas,williams,Slidell PD,5a24751a774422601e050f7acf48d744
876,police officer 1st class,07/01/2015,11/05/2018,21.21,hourly,patrol division,720,still employed,thomas,williams,Slidell PD,5a24751a774422601e050f7acf48d744
877,temporary police officer,11/05/2018,11/05/2018,18.00,hourly,patrol division,720,still employed,thomas,williams,Slidell PD,5a24751a774422601e050f7acf48d744
878,police officer 1st class,01/01/2010,08/05/2010,19.45,hourly,patrol division,152,retired,david,wortmann,Slidell PD,6fd3b227b3b99ddbf32edcd31f1ce9b6
879,temporary police officer,08/05/2010,08/05/2010,19.45,hourly,patrol division,152,retired,david,wortmann,Slidell PD,6fd3b227b3b99ddbf32edcd31f1ce9b6

In [3]:
df09 = clean_pprr_09()
df09

,rank_desc,salary_date,hire_date,salary,salary_freq,first_name,last_name,agency,uid
0,police officer,06/26/2006,03/24/2004,11.65,hourly,mario,arthur iii,Slidell PD,275f97ca9b93dd81741a05d40836accb
1,police officer,07/01/2006,03/24/2004,11.85,hourly,mario,arthur iii,Slidell PD,275f97ca9b93dd81741a05d40836accb
2,police officer,11/27/2006,03/24/2004,12.33,hourly,mario,arthur iii,Slidell PD,275f97ca9b93dd81741a05d40836accb
3,police officer 3rd class,07/01/2007,03/24/2004,12.33,hourly,mario,arthur iii,Slidell PD,275f97ca9b93dd81741a05d40836accb
4,police officer 3rd class,07/02/2007,03/24/2004,14.71,hourly,mario,arthur iii,Slidell PD,275f97ca9b93dd81741a05d40836accb
...,...,...,...,...,...,...,...,...,...
904,police captain,07/01/2004,12/05/1988,20.80,hourly,durel,yates,Slidell PD,db7a8e85a88f0a050916013fe453202b
905,police captain,07/01/2005,12/05/1988,21.32,hourly,durel,yates,Slidell PD,db7a8e85a88f0a050916013fe453202b
906,police captain,07/01/2006,12/05/1988,22.22,hourly,durel,yates,Slidell PD,db7a8e85a88f0a050916013fe453202b
907,police captain,11/27/2006,12/05/1988,23.11,hourly,durel,yates,Slidell PD,db7a8e85a88f0a050916013fe453202b
908,captain,07/01/2000,02/13/1974,24.05,hourly,michael,youngs,Slidell PD,ffed8bba5b654be261b1eee71ebf01f4

In [4]:
csd = clean_csd_pprr()
csd

standardize_from_lookup_table: unmatched sequences:
  {' or alaska native'}

,rank_desc,salary_date,hire_date,salary,salary_freq,race,sex,termination_date,first_name,last_name,agency,uid
0,police officer 2nd class,01/01/2010,03/24/2004,16.21,hourly,white,male,06/09/2016,mario,arthur iii,Slidell PD,275f97ca9b93dd81741a05d40836accb
1,police officer 1st class,12/09/2010,03/24/2004,17.62,hourly,white,male,06/09/2016,mario,arthur iii,Slidell PD,275f97ca9b93dd81741a05d40836accb
2,police officer 1st class,01/02/2012,03/24/2004,18.06,hourly,white,male,06/09/2016,mario,arthur iii,Slidell PD,275f97ca9b93dd81741a05d40836accb
3,police officer 1st class,07/01/2014,03/24/2004,19.23,hourly,white,male,06/09/2016,mario,arthur iii,Slidell PD,275f97ca9b93dd81741a05d40836accb
4,police officer 1st class,07/01/2015,03/24/2004,19.73,hourly,white,male,06/09/2016,mario,arthur iii,Slidell PD,275f97ca9b93dd81741a05d40836accb
...,...,...,...,...,...,...,...,...,...,...,...,...
1000,police sergeant,01/23/2018,05/16/2005,24.46,hourly,white,male,NaN,craig,aucoin,Slidell PD,c9e86030905ae347c5bab11c5d7b9884
1001,police sergeant,04/01/2019,05/16/2005,24.46,hourly,white,male,NaN,craig,aucoin,Slidell PD,c9e86030905ae347c5bab11c5d7b9884
1002,police sergeant,07/01/2019,05/16/2005,25.19,hourly,white,male,NaN,craig,aucoin,Slidell PD,c9e86030905ae347c5bab11c5d7b9884
1003,NaN,NaN,NaN,NaN,NaN,white,female,NaN,shellie,mccloud,Slidell PD,822f553b5b123cba2bbad8c444fff871
1004,temporary police officer,09/03/2019,09/03/2019,18.00,hourly,white,female,NaN,shellie,mccloud,Slidell PD,822f553b5b123cba2bbad8c444fff871