In [1]:
import sys; sys.path.append('../')
import pandas as pd

from clean.slidell_pd import clean09, clean19

In [2]:
df = clean09()
df

,rank_desc,salary_date,salary,salary_freq,first_name,last_name,hire_year,hire_month,hire_day,data_production_year,agency,uid
0,police officer,06/26/2006,$11.65,hourly,mario,arthur iii,2004,3,24,2009,Slidell PD,275f97ca9b93dd81741a05d40836accb
1,police officer,07/01/2006,$11.85,hourly,mario,arthur iii,2004,3,24,2009,Slidell PD,275f97ca9b93dd81741a05d40836accb
2,police officer,11/27/2006,$12.33,hourly,mario,arthur iii,2004,3,24,2009,Slidell PD,275f97ca9b93dd81741a05d40836accb
3,police officer 3rd class,07/01/2007,$12.33,hourly,mario,arthur iii,2004,3,24,2009,Slidell PD,275f97ca9b93dd81741a05d40836accb
4,police officer 3rd class,07/02/2007,$14.71,hourly,mario,arthur iii,2004,3,24,2009,Slidell PD,275f97ca9b93dd81741a05d40836accb
...,...,...,...,...,...,...,...,...,...,...,...,...
904,police captain,07/01/2004,$20.80,hourly,durel,yates,1988,12,5,2009,Slidell PD,db7a8e85a88f0a050916013fe453202b
905,police captain,07/01/2005,$21.32,hourly,durel,yates,1988,12,5,2009,Slidell PD,db7a8e85a88f0a050916013fe453202b
906,police captain,07/01/2006,$22.22,hourly,durel,yates,1988,12,5,2009,Slidell PD,db7a8e85a88f0a050916013fe453202b
907,police captain,11/27/2006,$23.11,hourly,durel,yates,1988,12,5,2009,Slidell PD,db7a8e85a88f0a050916013fe453202b
908,captain,07/01/2000,$24.05,hourly,michael,youngs,1974,2,13,2009,Slidell PD,ffed8bba5b654be261b1eee71ebf01f4

In [20]:
df[df.uid == '4a25163732a5e6adaeb3c81781dbb3c4']

,rank_desc,salary_date,salary,salary_freq,first_name,last_name,hire_year,hire_month,hire_day,data_production_year,agency,uid
857,police officer,07/01/2001,$11.24,hourly,devrone,vasser,1999,5,12,2009,Slidell PD,4a25163732a5e6adaeb3c81781dbb3c4
858,police officer,07/01/2002,$11.70,hourly,devrone,vasser,1999,5,12,2009,Slidell PD,4a25163732a5e6adaeb3c81781dbb3c4
859,police corporal,03/13/2003,$12.21,hourly,devrone,vasser,1999,5,12,2009,Slidell PD,4a25163732a5e6adaeb3c81781dbb3c4
860,police officer,03/13/2003,$12.21,hourly,devrone,vasser,1999,5,12,2009,Slidell PD,4a25163732a5e6adaeb3c81781dbb3c4
861,police corporal,07/01/2003,$12.81,hourly,devrone,vasser,1999,5,12,2009,Slidell PD,4a25163732a5e6adaeb3c81781dbb3c4
862,police corporal,07/01/2004,$13.41,hourly,devrone,vasser,1999,5,12,2009,Slidell PD,4a25163732a5e6adaeb3c81781dbb3c4
863,police corporal,07/01/2005,$13.74,hourly,devrone,vasser,1999,5,12,2009,Slidell PD,4a25163732a5e6adaeb3c81781dbb3c4
864,police sergeant,03/13/2006,$14.26,hourly,devrone,vasser,1999,5,12,2009,Slidell PD,4a25163732a5e6adaeb3c81781dbb3c4
865,police sergeant,07/01/2006,$14.86,hourly,devrone,vasser,1999,5,12,2009,Slidell PD,4a25163732a5e6adaeb3c81781dbb3c4
866,police sergeant,11/27/2006,$15.46,hourly,devrone,vasser,1999,5,12,2009,Slidell PD,4a25163732a5e6adaeb3c81781dbb3c4
867,police officer 1st class-,07/01/2007,$15.84,hourly,devrone,vasser,1999,5,12,2009,Slidell PD,4a25163732a5e6adaeb3c81781dbb3c4
868,police officer 1st class-,07/02/2007,$17.37,hourly,devrone,vasser,1999,5,12,2009,Slidell PD,4a25163732a5e6adaeb3c81781dbb3c4
869,police officer 1st class-,07/01/2008,$18.06,hourly,devrone,vasser,1999,5,12,2009,Slidell PD,4a25163732a5e6adaeb3c81781dbb3c4

In [4]:
df19 = clean19()
df19

/Users/khoipham/.virtualenvs/base/lib/python3.9/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

,rank_desc,salary_date,salary,salary_freq,department_desc,badge_no,employment_status,first_name,last_name,hire_year,hire_month,hire_day,data_production_year,agency,uid
0,police officer 2nd class,01/01/2010,16.21,hourly,criminal investigations,221,no longer with spd,mario,arthur iii,2004,3,24,2019,Slidell PD,275f97ca9b93dd81741a05d40836accb
1,police officer 1st class,12/09/2010,17.62,hourly,criminal investigations,221,no longer with spd,mario,arthur iii,2004,3,24,2019,Slidell PD,275f97ca9b93dd81741a05d40836accb
2,police officer 1st class,01/02/2012,18.06,hourly,criminal investigations,221,no longer with spd,mario,arthur iii,2004,3,24,2019,Slidell PD,275f97ca9b93dd81741a05d40836accb
3,police officer 1st class,07/01/2014,19.23,hourly,criminal investigations,221,no longer with spd,mario,arthur iii,2004,3,24,2019,Slidell PD,275f97ca9b93dd81741a05d40836accb
4,police officer 1st class,07/01/2015,19.73,hourly,criminal investigations,221,no longer with spd,mario,arthur iii,2004,3,24,2019,Slidell PD,275f97ca9b93dd81741a05d40836accb
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875,police officer 1st class,07/01/2014,20.71,hourly,patrol division,720,still employed,thomas,williams,2018,11,5,2019,Slidell PD,5a24751a774422601e050f7acf48d744
876,police officer 1st class,07/01/2015,21.21,hourly,patrol division,720,still employed,thomas,williams,2018,11,5,2019,Slidell PD,5a24751a774422601e050f7acf48d744
877,temporary police officer,11/05/2018,18.00,hourly,patrol division,720,still employed,thomas,williams,2018,11,5,2019,Slidell PD,5a24751a774422601e050f7acf48d744
878,police officer 1st class-,01/01/2010,19.45,hourly,patrol division,152,retired,david,wortmann,2010,8,5,2019,Slidell PD,6fd3b227b3b99ddbf32edcd31f1ce9b6
879,temporary police officer,08/05/2010,19.45,hourly,patrol division,152,retired,david,wortmann,2010,8,5,2019,Slidell PD,6fd3b227b3b99ddbf32edcd31f1ce9b6

In [19]:
df19[df19.uid == '4a25163732a5e6adaeb3c81781dbb3c4']

,rank_desc,salary_date,salary,salary_freq,department_desc,badge_no,employment_status,first_name,last_name,hire_year,hire_month,hire_day,data_production_year,agency,uid
834,police officer 1st class-,01/01/2010,18.06,hourly,patrol division,151,still employed,devrone,vasser,1999,5,12,2019,Slidell PD,4a25163732a5e6adaeb3c81781dbb3c4
835,police officer 1st class-,01/02/2012,18.52,hourly,patrol division,151,still employed,devrone,vasser,1999,5,12,2019,Slidell PD,4a25163732a5e6adaeb3c81781dbb3c4
836,police officer 1st class-,07/01/2014,19.72,hourly,patrol division,151,still employed,devrone,vasser,1999,5,12,2019,Slidell PD,4a25163732a5e6adaeb3c81781dbb3c4
837,police officer 1st class-,07/01/2015,20.22,hourly,patrol division,151,still employed,devrone,vasser,1999,5,12,2019,Slidell PD,4a25163732a5e6adaeb3c81781dbb3c4
838,police officer 1st class-,01/25/2016,20.73,hourly,patrol division,151,still employed,devrone,vasser,1999,5,12,2019,Slidell PD,4a25163732a5e6adaeb3c81781dbb3c4
839,police officer 1st class-,07/01/2016,21.77,hourly,patrol division,151,still employed,devrone,vasser,1999,5,12,2019,Slidell PD,4a25163732a5e6adaeb3c81781dbb3c4
840,police officer 1st class-,06/12/2017,22.98,hourly,patrol division,151,still employed,devrone,vasser,1999,5,12,2019,Slidell PD,4a25163732a5e6adaeb3c81781dbb3c4
841,police officer 1st class-,07/01/2017,23.53,hourly,patrol division,151,still employed,devrone,vasser,1999,5,12,2019,Slidell PD,4a25163732a5e6adaeb3c81781dbb3c4
842,police officer 1st class-,07/02/2017,23.98,hourly,patrol division,151,still employed,devrone,vasser,1999,5,12,2019,Slidell PD,4a25163732a5e6adaeb3c81781dbb3c4
843,police officer 1st class-,07/01/2019,24.70,hourly,patrol division,151,still employed,devrone,vasser,1999,5,12,2019,Slidell PD,4a25163732a5e6adaeb3c81781dbb3c4