In [1]:
import sys; sys.path.append('../')
import pandas as pd

from clean.slidell_pd import clean09, clean19, clean

In [2]:
df = clean()
df

/Users/khoipham/.virtualenvs/base/lib/python3.9/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

,rank_desc,salary,salary_freq,first_name,last_name,hire_year,hire_month,hire_day,salary_year,salary_month,salary_day,data_production_year,agency,uid,badge_no,department_desc,employment_status
0,police officer 2nd class,15.58,hourly,brian,brown,2007,8,27,2007,8,27,2009,Slidell PD,00c08237ece5277edf40555bc33b67e3,NaN,NaN,NaN
1,police officer 2nd class,16.61,hourly,brian,brown,2007,8,27,2008,11,27,2009,Slidell PD,00c08237ece5277edf40555bc33b67e3,NaN,NaN,NaN
2,police officer 2nd class,16.21,hourly,brian,brown,2007,8,27,2008,7,1,2009,Slidell PD,00c08237ece5277edf40555bc33b67e3,NaN,NaN,NaN
3,police officer 1st class,17.62,hourly,brian,brown,2007,8,27,2009,2,9,2009,Slidell PD,00c08237ece5277edf40555bc33b67e3,NaN,NaN,NaN
4,police officer 3rd class,15.24,hourly,walter,burtanog,2015,11,19,2015,11,19,2019,Slidell PD,040c3bdf4d40cd3e464f3c2c22a45848,213,criminal investigations,no longer with spd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1781,police officer 1st class,19.45,hourly,stanley,rabalais jr,2010,7,2,2008,7,1,2009,Slidell PD,fd998fa62749503109c4634049c61213,212,patrol division,retired
1782,police officer 1st class,19.45,hourly,stanley,rabalais jr,2010,7,2,2010,1,1,2019,Slidell PD,fd998fa62749503109c4634049c61213,212,patrol division,retired
1783,reserve police officer,30.00,hourly,stanley,rabalais jr,2010,7,2,2010,7,2,2019,Slidell PD,fd998fa62749503109c4634049c61213,212,patrol division,retired
1784,temporary police officer - sr,19.45,hourly,stanley,rabalais jr,2010,7,2,2012,1,17,2019,Slidell PD,fd998fa62749503109c4634049c61213,212,patrol division,retired
1785,captain,24.05,hourly,michael,youngs,1974,2,13,2000,7,1,2009,Slidell PD,ffed8bba5b654be261b1eee71ebf01f4,NaN,NaN,NaN

In [3]:
df.rank_desc.unique().tolist()

['police officer 2nd class',
 'police officer 1st class',
 'police officer 3rd class',
 'police officer',
 'lieutenant',
 'police lieutenant',
 'police captain',
 'police corporal',
 'police sergeant',
 'sergeant',
 'reserve police officer',
 'captain',
 'temporary police officer',
 'special assistant to chief of police',
 'chief of police',
 nan,
 'temporary appointment',
 'acting chief of police',
 'captain, assistant chief of police',
 'temporary police sergeant',
 'temporary police officer 3rd class',
 'chief of police elect',
 'corrections officer ii',
 'corrections peace officer',
 'temporary police officer - sr',
 'corrections lieutenant',
 'police officer iii',
 'sergeant technology support special',
 'police']